.championProfile{
    display: flex;
    align-items: center;
    justify-content: center;
}
.championProfileSlot{
    width: 300px;
    height: 350px;
}
.championInfoTable th{
    border-bottom: 3px solid white;
    border-top: 3px solid white; 
}
.championInfoTable{
    border-collapse: collapse;
    width: 250px;
    height: 90px;
    color: white;
    table-layout: fixed;
    margin-left: 2%;
}
.tableElement{
    border-right: 3px solid white; 
    width: 50px;
}
.championInfoTable span{
    display:block;
    text-transform: capitalize;
}
.championProfileInfo{
    position: absolute; 
    top: calc(40% - 24px);
    left: 45px;
    text-align: center; 
    width: 300px; 
}
.championImgProfile{
    border-radius: 20px;
    width:300px;
    height: 350px;
    object-fit: cover;
    position: relative;
	object-position: -1% -1%;
    z-index: -1;

}
.gradientDiv{
    border-radius: 15px;
}
.championProfileTypeImg{
    width: 25px;
    height: 25px;
}
.gradientDiv{
    background: linear-gradient(to bottom , transparent, #30475E);
    z-index: 1;
}
.aboutChamp{
    text-align: left;
    width: 95%;
}
.firstPartPage{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondPartPage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.firstPartHolderDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}